{% extends "quiz/base.html" %}
{% block content %}
    <p class="fw-bold"> Функционал для администратора системы для создания тестов:</p>

 <li> добавление/изменение/удаление тестов. Атрибуты теста: title( название теста). После создания теста можно изменить название.</li> 

 <li> добавление/изменение/удаление вопросов к тесту. Атрибуты вопросов: Text (текст вопроса), Poll(К какому тесту отосится вопрос), Order( Порядковый номер вопроса в тесте). Все атрибуты можно удалить/изменить после создания.</li> 

 <li> добавление/изменение/удаление ответов к вопросу. Атрибуты ответов: Text (текст ответа), Question (к какому вопросу отосится ответ), Points (колличество очков за ответ). Все атрибуты можно удалить/изменить после создания.</li> 
<p></p>
<p class="fw-bold"> В quiz/views.py есть скрипт populate_poll() который позволяет создать тест с заполненными полями. Для этого в терминале наберите python3 manage.py shell, далее выполните from quiz.views import populate_poll и вызовите функцию populate_poll() </p>  

<p class="fw-bold"> Функционал для пользователей системы:</p>

<li> для просмотра списка доступных тестов, пользовать должен произвести вход в систему или зарегистрироваться.</li>

<li> во вкладке "Тесты" выводится список всех достопных для проходения тестов. Выбрав нужный тест переходите к списку вопросов к выбранному тесту. Выбрав вопрос (можно в произвольном порядке проходить) переходите к вариантам ответов к данному вопросу. Выбрав ответ, нажимаете кнопку "Ответить", после этого ваш ответ фиксируется и вы можете перейти к списку вопросов.</li>

    

{% endblock content %}